<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhixiangzhonggong.tiebaobei" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/zhixiangimage"
        android:label="智象重工"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.StartLoadingActivity"
            android:label="智象重工" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name=".Activity.IntroduceUsActivity"
            android:label="@string/title_activity_introduce_us" >
        </activity>
        <activity
            android:name=".Activity.ChooseMachineModelActivity"
            android:label="@string/title_activity_choose_machine_model" >
        </activity>
        <activity
            android:name=".Activity.ShowProductsActivity"
            android:label="@string/title_activity_show_products" >
        </activity>
        <activity
            android:name=".Activity.SellCarInformationActivity"
            android:label="@string/title_activity_sell_car_information" >
        </activity>
        <activity
            android:name=".Activity.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name=".Activity.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Activity.ImageFile"
            android:label="@string/title_activity_image_fiele" >
        </activity>
        <activity
            android:name=".Activity.ShowAllPhoto"
            android:label="@string/title_activity_show_all_photo" >
        </activity>
        <activity
            android:name=".Activity.ChooseCarSiteActivity"
            android:label="@string/title_activity_choose_car_site" >
        </activity>
    </application>

</manifest>
