<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhixiangzhonggong.tiebaobei" >

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <!-- 蓝牙分享所需的权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".webrequest.AppController"
        android:allowBackup="true"
        android:icon="@drawable/zhixiangimage"
        android:label="智象重工"
        android:configChanges="keyboardHidden|orientation|screenSize"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="stateHidden|adjustResize" >
        android:theme="@style/AppTheme" >
        <activity
            android:name=".Activity.StartLoadingActivity"
            android:label="智象重工" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name=".Activity.SignUpActivity"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name=".Activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".Activity.FeedBackActivity"
            android:label="@string/title_activity_feed_back" >
        </activity>
        <activity
            android:name=".Activity.IntroduceUsActivity"
            android:label="@string/title_activity_introduce_us" >
        </activity>
        <activity
            android:name=".Activity.ChooseMachineModelActivity"
            android:label="@string/title_activity_choose_machine_model" >
        </activity>
        <activity
            android:name=".Activity.ShowProductsActivity"
            android:label="@string/title_activity_show_products" >
        </activity>
        <activity
            android:name=".Activity.SellCarInformationActivity"
            android:label="@string/title_activity_sell_car_information" >
        </activity>
        <activity
            android:name=".Activity.AlbumActivity"
            android:label="@string/title_activity_album" >
        </activity>
        <activity
            android:name=".Activity.GalleryActivity"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Activity.ImageFile"
            android:label="@string/title_activity_image_fiele" >
        </activity>
        <activity
            android:name=".Activity.ShowAllPhoto"
            android:label="@string/title_activity_show_all_photo" >
        </activity>
        <activity
            android:name=".Activity.ShowSellCarDetailInformationActivity"
            android:label="@string/title_activity_show_sell_car_detail_information" >
        </activity>
        <!--微信分享回调 -->
      <activity
            android:name="cn.sharesdk.demo.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />


        <activity
            android:name="cn.sharesdk.demo.yxapi.YXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>
